@{
    ViewData["Title"] = "Home Page";
}

@if (User.Identity?.IsAuthenticated == true)
{
    <p>This is a sample MVC Web application that demonstrates how to integrate with Keycloak for authentication and authorization. Click on the claims link to see your current claims</p>
}
else
{
    <p>This is a sample MVC Web application that demonstrates how to integrate with Keycloak for authentication and authorization. Login to see more</p>
}
