@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.Routing
@implements IDisposable
@inject NavigationManager Navigation
@inject AuthenticationStateProvider AuthStateProvider

<div class="nav-item px-3">
    <AuthorizeView>
        <Authorized>
            <div class="d-flex align-items-end gap-4">
                <span>Welcome @userName</span>
                <form action="authentication/logout" method="post" class="mb-0">
                    <AntiforgeryToken/>
                    <input type="hidden" name="ReturnUrl" value="@currentUrl"/>
                    <button type="submit" class="nav-link p-0">
                        <span class="bi bi-arrow-bar-left-nav-menu text-primary cursor-pointer" aria-hidden="true">Logout</span>
                    </button>
                </form>
            </div>
        </Authorized>
        <NotAuthorized>
            <a class="nav-link" href="authentication/login">
                <span class="bi bi-person-badge-nav-menu" aria-hidden="true"></span> Login
            </a>
        </NotAuthorized>
    </AuthorizeView>
</div>

@code {
    private string? currentUrl;
    private string userName = "";

    protected override async Task OnInitializedAsync()
    {
        currentUrl = Navigation.Uri;
        Navigation.LocationChanged += OnLocationChanged;

        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        userName = user.Identity?.IsAuthenticated == true
            ? user.Claims.FirstOrDefault(c => c.Type == "name")?.Value ?? ""
            : "Guest";
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = Navigation.Uri;
        StateHasChanged();
    }
    public void Dispose() => Navigation.LocationChanged -= OnLocationChanged;
}